.bar-chart-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 20px auto;
}

.doughnut-chart-container {
    position: relative;
    margin: 20px auto;
    width: 300px; 
    height: 300px;
}

.md-content .footnote-ref {
    font-size: 1em;
}

.md-content li.na-item {
    text-decoration: line-through;
    color: #9e9e9e;
}


.md-content input[type="checkbox"]:indeterminate {
    background-color: #9E9E9E;
    border-color: #9E9E9E;
    opacity: 1;
}


.md-content input[type="checkbox"]:indeterminate::before {
    content: ""; 
    display: block;
    width: 0.5rem;
    height: 2px;
    background-color: white;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.md-header__button.md-logo img,
.md-logo img {
    height: 40px !important;
    width: auto !important;
    object-fit: contain !important;
    margin-right: 0.5rem;
}